In [1]:
import pandas as pd
import numpy as np
import os
import ast
import sys

import squidpy as sq

# Visium

In [27]:
# visium datasets from 10x
datasets = sq.datasets._10x_datasets.VisiumDatasets.__args__ 

base_dir = "/nfs/turbo/umms-indikar/shared/projects/spatial_transcriptomics/public_data/"
output = "/nfs/turbo/umms-indikar/shared/projects/spatial_transcriptomics/public_data/processed/"

for d in datasets:
    print(d)

    andata = sq.datasets.visium(d, 
                                include_hires_tiff=True, 
                                base_dir=base_dir)
    
    andata.var_names_make_unique()
    df = andata.to_df()

    # build an index file with original spot IDs
    index = pd.DataFrame(df.index.to_list(), columns=['original_id'])
    index['row_index'] = index.index

    idfPath = f"{output}{d}_index.pq.gz"
    index.to_parquet(idfPath, compression='gzip', index=False)

    # drop the index
    df = df.reset_index(drop=True)
    dfPath = f"{output}{d}_data.pq.gz"
    df.to_parquet(dfPath, compression='gzip', index=False)

    # get the coordinates
    cf = pd.DataFrame(andata.obsm['spatial'])
    cdfPath = f"{output}{d}_coords.pq.gz"
    cf.to_parquet(cdfPath, compression='gzip', index=False)
    
    print(f'{d} done')

V1_Breast_Cancer_Block_A_Section_1

/home/cstansbu/.local/lib/python3.9/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

done

In [13]:
df = andata.to_df()
print(df.shape)
print(df.head())

(3798, 36601)
                    MIR1302-2HG  FAM138A  OR4F5  AL627309.1  AL627309.3
AAACAAGTATCTCCCA-1          0.0      0.0    0.0         0.0         0.0  \
AAACACCAATAACTGC-1          0.0      0.0    0.0         0.0         0.0
AAACAGAGCGACTCCT-1          0.0      0.0    0.0         0.0         0.0
AAACAGGGTCTATATT-1          0.0      0.0    0.0         0.0         0.0
AAACAGTGTTCCTGGG-1          0.0      0.0    0.0         0.0         0.0

                    AL627309.2  AL627309.5  AL627309.4  AP006222.2
AAACAAGTATCTCCCA-1         0.0         0.0         0.0         0.0  \
AAACACCAATAACTGC-1         0.0         0.0         0.0         0.0
AAACAGAGCGACTCCT-1         0.0         0.0         0.0         0.0
AAACAGGGTCTATATT-1         0.0         0.0         0.0         0.0
AAACAGTGTTCCTGGG-1         0.0         0.0         0.0         0.0

                    AL732372.1  ...  AC133551.1  AC136612.1  AC136616.1
AAACAAGTATCTCCCA-1         0.0  ...         0.0         0.0         0.0  \
AAACACCAATAACTGC-1         0.0  ...         0.0         0.0         0.0
AAACAGAGCGACTCCT-1         0.0  ...         0.0         0.0         0.0
AAACAGGGTCTATATT-1         0.0  ...         0.0         0.0         0.0
AAACAGTGTTCCTGGG-1         0.0  ...         0.0         0.0         0.0

                    AC136616.3  AC136616.2  AC141272.1  AC023491.2
AAACAAGTATCTCCCA-1         0.0         0.0         0.0         0.0  \
AAACACCAATAACTGC-1         0.0         0.0         0.0         0.0
AAACAGAGCGACTCCT-1         0.0         0.0         0.0         0.0
AAACAGGGTCTATATT-1         0.0         0.0         0.0         0.0
AAACAGTGTTCCTGGG-1         0.0         0.0         0.0         0.0

                    AC007325.1  AC007325.4  AC007325.2
AAACAAGTATCTCCCA-1         0.0         0.0         0.0
AAACACCAATAACTGC-1         0.0         0.0         0.0
AAACAGAGCGACTCCT-1         0.0         0.0         0.0
AAACAGGGTCTATATT-1         0.0         0.0         0.0
AAACAGTGTTCCTGGG-1         0.0         0.0         0.0

[5 rows x 36601 columns]

In [19]:
index = pd.DataFrame(df.index.to_list(), columns=['original_id'])
index['row_index'] = index.index
index.head()

          original_id  row_index
0  AAACAAGTATCTCCCA-1          0
1  AAACACCAATAACTGC-1          1
2  AAACAGAGCGACTCCT-1          2
3  AAACAGGGTCTATATT-1          3
4  AAACAGTGTTCCTGGG-1          4

In [26]:
cf = pd.DataFrame(andata.obsm['spatial'])
cf.head()

       0      1
0  17428  15937
1   6092  18054
2  16351   7383
3   5278  15202
4   9363  21386

In [5]:
dir(andata)

['T',
 'X',
 '_BACKED_ATTRS',
 '_H5_ALIASES',
 '_H5_ALIASES_NAMES',
 '_X',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__len__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_adata_ref',
 '_check_dimensions',
 '_check_uniqueness',
 '_clean_up_old_format',
 '_gen_repr',
 '_get_X',
 '_get_and_delete_multicol_field',
 '_get_obs_array',
 '_get_var_array',
 '_has_X',
 '_init_as_actual',
 '_init_as_view',
 '_inplace_subset_obs',
 '_inplace_subset_var',
 '_is_view',
 '_layers',
 '_mutated_copy',
 '_n_obs',
 '_n_vars',
 '_normalize_indices',
 '_obs',
 '_obsm',
 '_obsp',
 '_oidx',
 '_prep_dim_index',
 '_raw',
 '_remove_unused_categories',
 '_sanitize',
 '_set_backed',
 '_set_dim_df',
 '_set_dim_index',
 '_uns',
 '_var',
 '_varm',
 '_varp',
 '_vidx',
 'chunk_X',
 'chunked_X',
 'concatenate',
 'copy',
 'file',
 'filename',
 'is_view',
 'isbacked',
 'isview',
 'layers',
 'n_obs',
 'n_vars',
 'obs',
 'obs_keys',
 'obs_names',
 'obs_names_make_unique',
 'obs_vector',
 'obsm',
 'obsm_keys',
 'obsp',
 'raw',
 'rename_categories',
 'shape',
 'strings_to_categoricals',
 'to_df',
 'to_memory',
 'transpose',
 'uns',
 'uns_keys',
 'var',
 'var_keys',
 'var_names',
 'var_names_make_unique',
 'var_vector',
 'varm',
 'varm_keys',
 'varp',
 'write',
 'write_csvs',
 'write_h5ad',
 'write_loom',
 'write_zarr']

In [3]:
break

SyntaxError: 'break' outside loop (668683560.py, line 1)

In [ ]:
for f in sq.datasets:
    print(f)

In [ ]:
dir(sq.datasets)